name: Simple Docker Build and Push

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push Docker image
        run: |
          # Создание и использование buildx
          docker buildx create --use
          # Построение и автоматическая загрузка образа в реестр
          docker buildx build --push -t ghcr.io/mika-2386/bot_manager:latest .

     
      - name: Logout from GitHub Container Registry
        if: always()
        run: docker logout ghcr.io
